<div>
  <!-- header-menu -->
  <div class="header">
    <h2>Kanban Project Management Tool</h2>
    <div class="help_profile">
      <img class="help_icon" src="accessories/img/help_logo.svg" alt="" />
      <img class="profile" src="accessories/img/profile_logo.svg" alt="" />
    </div>
  </div>
  <div class="left-menu">
    <div>
      <img src="accessories/img/Join_Logo.svg" alt="" />
    </div>
    <div class="menu-list">
      <div class="first-menu_name">
        <img src="accessories/img/summary_logo.svg" alt="" />
        <span>Summary</span>
      </div>
      <div class="second-menu_name">
        <img src="accessories/img/board_logo.svg" alt="" />
        <span>Board</span>
      </div>
      <div class="third-menu_name">
        <img src="accessories/img/add_task_logo.svg" alt="" />
        <span>Add Task</span>
      </div>
      <div class="fourth-menu_name">
        <img src="accessories/img/contacts_logo.svg" alt="" />
        <span>Contacts</span>
      </div>
    </div>
    <div class="info-container">
      <img class="info-icon" src="accessories/img/impressum_icon.svg" alt="" />
      <span>Legal Notice</span>
    </div>
  </div>
</div>
