@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Schoolbell&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

body {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #F5F5F5;
    font-size: 21px;
    padding: 0 25px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 826px;
    height: auto;
    background: #fff;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
    padding: 35px 100px;
}

.dis-none {
    display: none;
  }


form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-weight: 700;
    font-size: 55px;
    text-align: center;
    margin-bottom: 24px;
    padding: 0 20px;
}

hr {
    width: 150px;
    height: 3px;
    background: #29ABE2;
    border: none;
    margin-bottom: 25px;
}

.sub {
    text-align: center;
    margin-bottom: 35px;
}


.input-line {
    position: relative;
    width: 422px;
    height: 50px;
    margin-bottom: 35px;
}

.icon {
    position: absolute;
    font-size: 21px;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    color: #A8A8A8;
}


input {
    width: 100%;
    height: 50px;
    outline: none;
    padding: 15px 20px;
    border: 1px solid #D1D1D1;
    border-radius: 10px;
    font-size: 21px;
    background: #fff;
}

#message-box {
    position: relative;
    width: 100%;
    text-align: center;
    line-height: 30px;
    background: #ffe1e1;
    color: rgb(200, 10, 10);
    border-radius: 5px;
    font-size: 14px;
    margin-bottom: 25px;
  }


.btn-line {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    width: 100%;
    height: 50px;
}

#send-mail {
    background: #2A3647;
    color: #fff;
    border: none;
    width: 260px;
    height: 50px;
    font-weight: 700;
    font-size: 21px;
    border-radius: 8px;
    cursor: pointer;
}


#logo {
    position: absolute;
    top: 35px;
    left: 80px;
    width: 100px;
}

.arrow-back {
    position: absolute;
    top: 40px;
    left: 40px;
    width: 25px;
    height: 25px;
    cursor: pointer;
}

.arrow-back a {
    font-size: 35px;
    color: #29ABE2;
}


.success {
    padding: 25px;
    text-align: center;
    line-height: 30px;
}

.success a {
    color: #29ABE2;
    text-decoration: none;
}


/****** MEDIA **************/

@media (max-width: 1080px) {
    .container {
        width: 520px;
        padding: 35px 70px;
    }

    #logo {
        top: 25px;
        left: 50px;
        width: 80px;
    }
}

@media (max-width: 840px) {

    #logo {
        top: 25px;
        left: 50px;
        width: 60px;
    }
}

@media (max-width: 620px) {
    .container {
        width: 100%;
        padding: 35px 70px;
    }

    .arrow-back {
        top: 30px;
        left: 30px;
    }
    
    .arrow-back a {
        font-size: 35px;
        color: #29ABE2;
    }

    h1 {
        font-size: 42px;
    }

    #logo {
        top: 15px;
        left: 25px;
        width: 45px;
    }

    .input-line {
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 420px) {
    .container {
        width: 100%;
        padding: 80px 30px 30px 30px;
    }
}