@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Schoolbell&display=swap');

* {
    box-sizing: border-box;
}

body {
    position: relative;
    background: #F6F7F8;
    font-family: 'Inter';
    font-style: normal;
}

a{
    text-decoration: none;
    color: #000000;
}

.content {
    min-height: 100vh;
    padding: 160px 90px 50px 330px;
}

.content2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 60px;

}

.frame40 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
}

.summary {
    font-weight: 700;
    font-size: 61px;
    color: #000000;
}

.vector5 {
    width: 0px;
    height: 50px;
    border: 3px solid #29ABE2;
}

.nutshell {
    font-weight: 400;
    font-size: 27px;
    color: #2A3647;
}

.frame69 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.morning {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 47px;
    color: #2A3647;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.user {
    font-weight: 700;
    font-size: 64px;
    line-height: 120%;
    color: #29ABE2;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.frame66 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    padding-top: 50px;
    width: 600px;
}

.frame64 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.buttonV1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 13px;
    flex: 1;
    height: 150px;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.buttonV1:hover {
    background: #2A3647;
    color: white;
    cursor: pointer;
    box-shadow: 10px 5px 5px #888888;

}

.frame61 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 120px;
}

.number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.tasks {
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}


.urgency {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 45px;
    gap: 60px;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}


.urgency:hover {
    background: #2A3647;
    cursor: pointer;
    color: white;
    box-shadow: 10px 5px 5px #888888;
}

.frame67 {
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 18px;
}

.frame591 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 60px;
    height: 60px;
}

.frame63 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 52px;
    height: 75px;
}

.urgentNumber {
    font-weight: 600;
    font-size: 47px;
    line-height: 120%;
    text-align: center;
}

.urgent {
    font-weight: 400;
    font-size: 16px;
}

.vector51 {
    width: 0px;
    height: 100px;
    border: 2px solid #D1D1D1;
}

.frame68 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 13px;
}

.date {
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
}

.deadline {
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
}

.frame65 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.pencilButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 18px;
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.pencilButton:hover {
    background: #2A3647;
    cursor: pointer;
    color: white;
    box-shadow: 10px 5px 5px #888888;
}

.frame592 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 60px;
    height: 60px;
}

.todo {
    font-weight: 600;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
}

.backlog {
    width: 60px;
    height: 25px;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
    text-align: center;
}

.checkbutton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 18px;
    flex: 1;
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.checkbutton:hover {
    background: #2A3647;
    cursor: pointer;
    color: white;
    box-shadow: 10px 5px 5px #888888;
}



.frame593 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    width: 60px;
    height: 60px;
}


.frame60 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.donenumber {
    font-weight: 600;
    font-size: 64px;
    text-align: center;
}

.done {
    font-weight: 400;
    font-size: 21px;
    text-align: center;
}



/*************** MEDIA **********/

@media (max-width: 1240px) {
    .content2 {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .frame66 {
        padding-top: unset;
        width: 100%;
    }

    .frame69 {
        padding-top: 30px;
    }
}


@media (max-width: 900px) {
    .content {
        padding: 160px 60px 40px 300px;
    }

    .nutshell,
    .vector5 {
        display: none;
    }


}



@media (max-width: 765px) {
    .content {
        padding: 160px 40px 60px 280px;
    }

    .frame69 {
        display: none;
    }

    .frame64 {
        flex-direction: column;
    }

    .frame66 {
        padding-top: 50px;
    }

    .frame67 {
        gap: 10px;
    }

    .buttonV1 {
        padding: 20px 0px;
        height: unset;
        width: 100%;
    }

    .frame61 {
        flex-direction: row;
        height: unset;
        gap: 10px;
    }

    .tasks,
    .backlog,
    .done {
        font-size: 16px;
    }

    .urgency {
        justify-content: center;
        align-items: center;
        padding: 25px 35px;
        gap: 20px;
    }

  
    .number,
    .urgentNumber,
    .todo,
    .donenumber  {
        font-size: 40px;
    }

    .frame65 {
        padding: unset;
        gap: 10px;
    }

    .frame591, 
    .frame592,
    .frame593 {
        width: 35px;
        height: 35px;
    }

    .checkbutton,
    .pencilButton {
        padding: 20px 10px;
        gap: 8px;
    }

.summary {
    width: 100%;
    text-align: center;
    font-size: 50px;
}

}

@media (max-width: 620px) {
    .content {
        padding: 160px 25px 60px 205px;
    }

}


@media (max-width: 480px) {
    .content {
        padding: 160px 30px 120px 30px;
    }

    .frame64 {
        flex-direction: row;
        gap: 15px;
    }

    .frame61 {
        flex-direction: column;
    }

    .tasks,
    .backlog,
    .done {
        font-size: 14px;
    }

}


@media (max-height: 420px) {

    .content{
        padding-top: 100px!important;
        padding-bottom: 10px!important;
    }

    #container {
        padding-top: 100px!important;
        padding-bottom: 10px!important;
    }
}

